<!DOCTYPE html >
<html lang="en" >
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>1907-vue2x</title>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body >

<div id="app" v-cloak>
    <h1>用户注册</h1>
    用户名： <input v-model="userForm.username" type="text">
    密码： <input v-model="userForm.pass" type="password">
    <hr>
    <button @click="regUser">注册用户</button>
    {{userForm}}
</div>


<script src="bower_components/vue/dist/vue.js"></script>
<script>
    (function () {

        // {{}} vue模板

        new Vue({
            el:"#app",
            data:{
                 userForm:{
                     username:"x",
                     pass:""
                 }
            },
            methods:{ //用来组织逻辑或者事件响应的方法
                regUser( ){
                  console.log(this.userForm)
                }
            }
        })

        new Vue({
            el:"#app",
            data:{},
            methods:{

            },
            template:"",
            render(h){

            }
        })


    })()
</script>
</body>
</html>
